<!-- <mat-toolbar color="" class="header">
  <span>Chatbot</span>
  <div class="paddingNav"></div>
  <div class="tools">

    <a mat-button>Home</a>
    <a mat-button>Chat</a>
  </div>

</mat-toolbar> -->
<h1 class="headerCls">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    CHATBOT
  
    <!-- <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  
  
    </button> -->
  
  </h1>
  